*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #f3f4f6;
  color: #111827;
  line-height: 1.5;
}

.start-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-start {
  background-color: #034f52;
  color: #ffffff;
  font-size: 1.05rem;
  font-weight: bold;
  padding: 0.95rem 2rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(129, 84, 7, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-start:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(143, 94, 10, 0.5);
}

.quiz-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.quiz-box {
  background-color: #ffffff; 
  width: 100%;
  max-width: 500px;  /* optional: can increase to 600px for desktop */
  border-radius: 0.75rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3rem;
}

.quiz-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #172035;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  background-color: #023329;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
  min-width: 120px;
}

.timer-text {
  font-size: 0.8rem;
}

.timer-count {
  font-size: 1.1rem;
  font-weight: 900;
}

.time-line {
  width: 100%;
  height: 5px;
  background: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.time-progress {
  width: 0%; /* JS will animate this */
  height: 100%;
  background: #023329;
  border-radius: 5px;
  transition: width 0.3s linear;
}

/* Question Section */
.question-section {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.question-text {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  color: #111827;
  min-height: 25px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

.option {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.5rem;
  background-color: #ffffff;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option:hover {
  background-color: #f3f4f6;
  border-color: #00b894;
}

.option.selected {
  background-color: #00b894;
  color: #fff;
  border-color: #00b894;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.question-number, .next-section {
  background-color: #023329;
  color: #fff;
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  border-radius: 0.3rem;
  transition: background 0.3s ease;
}

.next-section:hover, .question-number:hover {
  background-color: #06755f;
}
