*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #f3f4f6;
  color: #1a2336;
  line-height: 1.5;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hidden {
  display: none !important;
}

/* All main sections (start, quiz, score) overlap */
.start-section,
.quiz-section,
.score-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fcfdff;
}

/* Start button */
.btn-start {
  background-color: #034547;
  color: #ffffff;
  font-size: 1.05rem;
  font-weight: bold;
  padding: 0.96rem 2rem;
  border-radius: 0.76rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(129, 84, 7, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-start:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(143, 94, 10, 0.5);
}

/* Quiz Box */
.quiz-box {
  background-color: #ffffff; 
  width: 100%;
  max-width: 500px;
  border-radius: 0.75rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
}

/* Quiz Header */
.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3rem;
}

.quiz-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #172035;
}

/* Timer */
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  background-color: #023329;
  color: #ffffff;
  padding: 0.1rem 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
  min-width: 120px;
}

.timer-text { font-size: 0.8rem; }
.timer-count { font-size: 1.1rem; font-weight: 900; }

/* Time Line */
.time-line {
  width: 100%;
  height: 5px;
  background: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.time-progress {
  width: 0%;
  height: 100%;
  background: #022720;
  border-radius: 5px;
  transition: width 0.3s linear;
}

/* Question Section */
.question-section {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.question-text {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  color: #111827;
  min-height: 25px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

.option {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.5rem;
  background-color: #ffffff;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option:hover { background-color: #f3f4f6; border-color: #00b894; }
.option.selected { background-color: #02a887; color: #fff; border-color: #00b894; }

/* Question Footer */
.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.question-number, .btn-next {
  background-color: #023329;
  color: #fff;
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  border-radius: 0.3rem;
  transition: background 0.3s ease;
}

.question-number { padding: 0.3rem 1.25rem; }
.btn-next:hover, .question-number:hover { background-color: #06755f; }

/* Score Section */
.score-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.score-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.score-icon { font-size: 3.5rem; }
.score-text {
  font-size: 1.26rem;
  font-weight: 600;
  color: #172035;
  text-align: center;
}

.score-buttons {
  display: flex;
  gap: 1rem;
}

.score-buttons button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s, background 0.3s ease;
}

.replay-btn { background-color: #023329; color: #fff; }
.replay-btn:hover {
  background-color: #023329;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.3);
}

.quit-btn { background-color: #ef4444; color: #fff; }
.quit-btn:hover {
  background-color: #b91c1c;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(239, 68, 68, 0.3);
}

.option.correct {
  background-color: #03a887; /* green */
  color: #fcf0f0;
  border-color: #00b894;
}

.option.incorrect {
  background-color: #ff4d4f; /* red */
  color: #fff;
  border-color: #ff4d4f;
}

.option:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.option.correct:disabled,
.option.incorrect:disabled {
  opacity: 0.6;
}